<h1>About</h1>
<p style="margin-left: 20px;"><%= "This App has been developed by SOUMYA GOYAL, to make users GO SMART! " %></p>
<p style="margin-left: 20px;"><%= "The motive of this app is to provide user an option to compare price in different stores before buying a product." %></p>
